node_modules
**/node_modules
.git
.env
.env.*
dist
apps/console/dist*
.astro
.cache
.qa
.releases
server/*.db
server/*.db-*
server/*.auth-key
data
static/assets
static/ff14
static/admin
*.log
**/*.tsbuildinfo
